<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>点花木</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.qilumiaomuwang</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh_CN</string>
	</array>
	<key>CFBundleName</key>
	<string>点花木</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>logV@2x</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>miaoxintong</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>logV@2x</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx380f0f3dd0059942</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>logV@2x</string>
			<key>CFBundleURLName</key>
			<string>QQ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1105469454</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>logV@2x</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41E4200E</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>sinaweibosso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>safepay</string>
		<string>alipay</string>
		<string>mqqapi</string>
		<string>alipayauth</string>
		<string>mqq</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnect</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>wtloginmqq2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>renrenios</string>
		<string>renrenapi</string>
		<string>renren</string>
		<string>renreniphone</string>
		<string>yixin</string>
		<string>instagram</string>
		<string>whatsapp</string>
		<string>line</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>点花木需要您的同意，才能访问媒体资料库</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>点花木需要您的同意，才能访问蓝牙</string>
	<key>NSCalendarsUsageDescription</key>
	<string>点花木需要您的同意，才能访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>点花木需要您的同意，才能访问相机</string>
	<key>NSContactsUsageDescription</key>
	<string>点花木需要您的同意，才能访问通讯录</string>
	<key>NSHealthShareUsageDescription</key>
	<string>点花木需要您的同意，才能访问健康分享</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>点花木需要您的同意，才能访问健康更新</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>点花木需要您的同意，才能始终访问位置</string>
	<key>NSLocationUsageDescription</key>
	<string>点花木需要您的同意，才能使用位置</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>点花木需要您的同意，才能使用期间访问位置</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>点花木需要您的同意，才能使用麦克风</string>
	<key>NSMotionUsageDescription</key>
	<string>点花木需要您的同意，才能访问运动与健身</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>点花木需要您的同意，才能访问相册</string>
	<key>NSRemindersUsageDescription</key>
	<string>点花木需要您的同意，才能访问提醒事项</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
